table {
	table-layout: fixed;
	width: 50px;
}

.table-nonfluid {
	width: auto !important;
}

.table.table-borderless td, .table.table-borderless th {
	border: 0 !important;
}

.table.table-borderless td.green {
	width: 100px;
	color: #008000;
}

.table.table-borderless {
	margin-bottom: 0px;
}

.header {
  background-color: #999d8c;
  color: white;
}

.even {
  background-color: #b9d7d7;
}

.odd {
  background-color: #e7d9ea;
}

.validation {
	color: red;
}